# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Output
bin/
obj/
*.dll
*.exe
*.pdb
*.log
*.cache
*.ilk
*.sbr
*.aps
*.ncb
*.opensdf
*.sdf
*.tlog
*.tmp
*.VC.db

# Paket NuGet
packages/
*.nupkg
project.lock.json
project.assets.json
.nuget/

# Konfigurasi & Cache
appsettings.json
appsettings.*.json
Thumbs.db
*.DS_Store
*.log
*.bak

# Debugging & Crash Dumps
*.tmd
*.iobj
*.ipdb
*.dmp

# Windows Forms Designer
*.resx
*.Designer.cs

# User-Specific Files
*.suo
*.psess
*.pfx
*.snk
*.jfm
